<div class="container">
  <div class="row text-light">
    <div class="col">
      <h1>POSPOT</h1>
    </div>
    <div class="col">
      <h1>About</h1>
      <p>
        自分のお気に入りの場所を投稿してみましょう。<br>
        投稿する度にマップにピンが増えていき、自分だけのマップを作ることができます。<br>
        また、みんなの投稿を見ることもできます。<br>
        みんなの投稿から訪れてみたい場所を探してコレクションしてみましょう。<br>
      </p>
    </div>
  </div>
</div>