$dark: #0F222D;
$light: #E6E4DC;
$primary: #1D7874;
$box-shadow: 0 .5rem 1rem rgba(29, 120, 116);
$box-shadow-sm: 0 .200rem .20rem rgba(29, 120, 116);
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

html, body {
  height: 100vh;
}

body {
  background-image: linear-gradient(0deg, transparent calc(100% - 1px), #142E3D calc(100% - 1px)),
                    linear-gradient(90deg, transparent calc(100% - 1px), #142E3D calc(100% - 1px));
  background-size: 20px 20px;
  background-repeat: repeat;
  background-position: center center;
  background-color: #0F222D;
}

a {
  color: #E6E4DC;
}

.posts_map {
  height: 600px;
  width: 1000px;
}

#show_map {
  height: 500px;
  width: 100%;
}

.user_map {
  height: 600px;
  width: 1000px;
}

.nav-btn {
  padding: 0.6em 1em;
  border: 4px solid #fa725a;
  transition: ease-in-out 0.3s;
  background-color: transparent;
  color: #fa725a;
  font-weight: bolder;
  font-size: 16px;
}

.nav-btn:hover {
 transform: scale(1.2) rotate(10deg);
 background-color: #fa725a;
 color: white;
}


.card {
  background-color: #E6E4DC;
}

.link {
	padding: 0.1em 0.3em;
	background-image: linear-gradient(to right, rgba(0,0,0,0) 50%, rgba(250,114,90) 50%);
	background-position: 0 0;
	background-size: 200% auto;
	transition: .3s;
	color: #fa725a;
}

.link:hover {
	background-position: -100% 0;
	color: #fff;
}

