$dark: #0F222D;
$light: #E6E4DC;
$primary: #738F9F;
$box-shadow: 0 .5rem 1rem rgba(29, 120, 116);
$box-shadow-sm: 0 .200rem .20rem rgba(29, 120, 116);
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

html, body {
  height: 100vh;
}

body {
  background-image: linear-gradient(0deg, transparent calc(100% - 1px), #142E3D calc(100% - 1px)),
                    linear-gradient(90deg, transparent calc(100% - 1px), #142E3D calc(100% - 1px));
  background-size: 20px 20px;
  background-repeat: repeat;
  background-position: center center;
  background-color: #0F222D;
}

#index_map {
  height: 600px;
  width: 1000px;
}

#show_map {
  height: 500px;
  width: 100%;
}


#user_map {
  height: 600px;
  width: 1000px;
}

.neon-btn {
  --glow-color: rgb(245, 150, 57);
  --glow-spread-color: rgba(219, 96, 57, 0.781);
  --enhanced-glow-color: rgb(259, 180, 57);
  --btn-color: rgb(128, 61, 57);
  border: .25em solid var(--glow-color);
  color: var(--glow-color);
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em .25em var(--glow-color),
          0 0 4em 1em var(--glow-spread-color),
          inset 0 0 .75em .25em var(--glow-color);
  text-shadow: 0 0 .5em var(--glow-color);
  transition: all 0.3s;
}

.neon-btn:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em .25em var(--glow-color),
          0 0 4em 2em var(--glow-spread-color),
          inset 0 0 .75em .25em var(--glow-color);
}

.neon-btn:active {
  box-shadow: 0 0 0.6em .25em var(--glow-color),
          0 0 2.5em 2em var(--glow-spread-color),
          inset 0 0 .5em .25em var(--glow-color);
}



.card {
  background-color: #EBE7D9;
}

.link {
	padding: 0.1em 0.3em;
	background-image: linear-gradient(to right, rgba(0,0,0,0) 50%, rgba(245,150,57,1) 50%);
	background-position: 0 0;
	background-size: 200% auto;
	transition: .3s;
	color: #ff9800;
}

.link:hover {
	background-position: -100% 0;
	color: #fff;
}

.field_with_errors {
input {
@extend .is-invalid;
}
}
.form-group {
.field_with_errors {
label {
font-size: 20px;
font-weight: 500;
}
input {
height: 50px;
}
}
}