<div class="position-absolute top-0 end-0 me-4">
  <button type="button" class="btn btn-outline-light rounded-circle" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fas fa-search h3 my-1"></i></button>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark pb-5">
      <div class="modal-header border-dark">
        <h5 class="modal-title text-light">投稿やユーザーを検索できます。</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with url: search_path, method: :get, local: true do |f| %>
          <div class="d-flex">
            <%= f.text_field :keyword, required: true, placeholder: "キーワードを入力", class: "form-control rounded-pill" %>
            <%= f.button :type => "submit", class: 'btn btn-light rounded-circle' do %>
              <i class="fas fa-search text-dark"></i>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>