<script>
  let map;
  let geocoder;
  let marker = [];
  let infoWindow = [];
  const posts = gon.posts;
  const user = gon.user;

  // マップの表示
  function initMap() {
    geocoder = new google.maps.Geocoder()

    map = new google.maps.Map(document.getElementById('map'), {
      center: { lat: parseFloat(user.latitude), lng: parseFloat(user.longitude) },
      zoom: 11,
      mapTypeControl: false,
      styles: [
        {
          featureType: 'all',
          elementType: 'labels',
          stylers: [
            {visibility: 'off'},
          ],
        },
        {
          featureType: 'all',
          elementType: 'all',
          stylers: [
            {visibility: 'inherit'},
          ],
        },
        {
          featureType: 'all',
          elementType: 'all',
          stylers: [
            {hue: '#0F222D'},
            {saturation : -70},
          ],
        }
      ]
    });

    // 複数ピン立て
    for (let i = 0; i < posts.length; i++) {
      const id = posts[i]['id'];

      markerLatLng = new google.maps.LatLng({
        lat: parseFloat(posts[i]['latitude']),
        lng: parseFloat(posts[i]['longitude'])
      });

      marker[i] = new google.maps.Marker({
        position: markerLatLng,
        map: map,
        animation: google.maps.Animation.DROP
      });

      infoWindow[i] = new google.maps.InfoWindow({
        content: `<a href='/posts/${id}' class='text-dark'>${posts[i].spot}</a>`
      });

      markerEvent(i);
    }
  }

  function markerEvent(i) {
    marker[i].addListener('click', function() {
      infoWindow[i].open(map, marker[i]);
    });
  }

  // 検索用
  function codeAddress() {
    const inputAddress = document.getElementById('address').value;

    geocoder.geocode({
      'address': inputAddress
    }, function (results, status) {
      if(status == 'OK') {
        map.setCenter(results[0].geometry.location);

        notice.textContent = "検索結果：" + results[0]. geometry.location
      } else {
        alert('該当する結果がありませんでした：' + status);
      }
    });
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_KEY'] %>&callback=initMap" async defer></script>
