<% if current_user.name != "ゲストユーザー" %>
  <div class="col-md-12 col-lg-4 d-flex pb-1">
    <input id="address" type="textbox" value="" placeholder="住所を入力" class="form-control rounded-pill"></input>
    <button type="button" onclick="codeAddress()" class="btn btn-light rounded-circle"><i class="fas fa-search"></i></button>
  </div>
  <div class="col-md-12 col-lg-4 text-center pb-1">
    <%= link_to new_post_path, class: "btn btn-outline-light rounded-pill w-100" do %>
      <i class="fas fa-plus-circle"></i> 新規投稿
    <% end %>
  </div>
  <div class="col-md-12 col-lg-4 text-center pb-1">
    <%= link_to posts_path(id: current_user.id), class: "btn  btn-outline-light rounded-pill w-100" do %>
      <i class="fas fa-bookmark"></i> ブックマーク
    <% end %>
  </div>
<% end %>