<div class="col d-flex">
  <input id="address" type="textbox" value="" placeholder="住所を入力" class="form-control rounded-pill"></input>
  <button type="button" onclick="codeAddress()" class="btn btn-light rounded-pill"><i class="fa-solid fa-magnifying-glass"></i></button>
</div>
<div class="col text-center">
  <%= link_to "新規投稿", new_post_path, class: "btn btn-outline-light rounded-pill w-100" %>
</div>
<div class="col text-center">
  <%= link_to "ブックマーク", posts_path(id: current_user.id), class: "btn  btn-outline-light rounded-pill w-100" %>
</div>