<div class="container-fluid">
  <div class="row">
    <div class="col-8">
      <div class="row">
        <%= render 'posts/navbar' %>
      </div>
      <div class="row mt-2 justify-content-center">
        <div id="map" class="posts_map"></div>
      </div>
    </div>
    <div class="col-4">
      <% if params[:id] %>
        <div class="row">
          <h4 class="text-center text-light">ブックマーク一覧</h4>
        </div>
        <div class="row mt-2">
          <div class="col-12">
            <%= render 'bookmarks/index', bookmarks: @bookmarks %>
          </div>
        </div>
      <% else %>
        <div class="row">
          <h4 class="text-center text-light">投稿一覧</h4>
        </div>
        <div class="row mt-2">
          <div class="col-12">
            <%= render 'index', posts: @posts %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render 'map' %>